
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    overflow-x: hidden !important;
    /* background: red; */
}

.chart-section {
    display: flex;
    padding: 24px 16px;
    overflow-x: hidden;
    /* flex-wrap: wrap; */
}

.chart-section > div:not(:last-child) {
    margin-right: 16px;
}

.table-section {
    display: flex;
    /* padding: 24px 16px; */
    overflow-x: hidden;
    /* flex-wrap: wrap; */
}


@media (max-width: 1436px) {
    .chart-section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .chart-container {
        width: 40%;
    }
    .chart-container-2 {
        width: 60%;
    }
    .chart-section > div:not(:last-child) {
        margin-bottom: 16px;
        margin-right: 0px;
    }

    .table-section {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .calendar-container {
        width: 90%;
    }
    .table-container {
        width: 100%;
    }
    
}

@media (max-width: 700px) {
    .chart-container {
        width: 90%;
    }
    .chart-container-2 {
        width: 90%;
    }
    .chart-section > div:not(:last-child) {
        margin-bottom: 16px;
    }
    #chartArea  {
        overflow-x: auto;
    }
    #chartArea > svg {
        width: 100%;
    }
    .react-datepicker__day {
        margin: .2em;
    }
    .react-datepicker__day-name {
        margin: .2em;
    }
    .react-datepicker {
        height: 300px;
    }
}
