
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.chart-section {
    display: flex;
    padding: 24px 16px;
    overflow-x: hidden;
    /* flex-wrap: wrap; */
}

.chart-section > div:not(:last-child) {
    margin-right: 16px;
}

.table-section {
    display: flex;
    /* padding: 24px 16px; */
    overflow-x: hidden;
    /* flex-wrap: wrap; */
}
