#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    height: 88px;
    /* background-color: red; */
}

.nav-left {
    display: flex;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo > img {
    width: 135px;
    height: 24px;
    object-fit: contain;
}

.nav-user {
    display: flex;
    align-items: center;
}

.nav-user-initial {
    margin-right: 22px;
}
.nav-user-initial > p {
    width: 44px;
    height: 44px;
    background-color: rgba(144, 144, 144, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 16px;
   font-weight: 700;
}

.nav-user-info {
    display: flex;
    align-items: center;
}
.nav-user-info-main {
    margin-right: 10px;
    min-width: 100px;
}

.nav-user-info-main > p {
   font-size: 16px;
   font-weight: 700;
}
.nav-user-info-main > span {
   font-size: 12px;
   font-weight: 400;
   color: #9C9C9C;
}

.nav-right {
    display: flex;
    align-items: center; 
}

.nav-right > div:not(:last-child) {
    margin-right: 24px;
}

.nav-notif {
    position: relative;
}
.nav-notif > .notif-dot {
    position: absolute;
    top: -8px;
    right: 0px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #C25B3A;
}
/* Search Box */
form.search {
    height: 50px;
    width: 296px;
}
form.search input[type=text] {
    padding: 16px;
    font-size: 14px;
    border: 1px solid #DDDDDD;
    float: left;
    width: 80%;
    background: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    height: 100%;
  }
form.search input[type=text]:focus{
    outline: none;
}
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 20%;
    /* padding: 16px; */
    background: #fff;
    border: 1px solid #DDDDDD;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* Clear floats */
  /* form.search::after {
    content: "";
    clear: both;
    display: table;
  } */

