.area {							
    fill: url(#area-gradient);					
    stroke-width: 0px;			
}

.chart-container-2 {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 32px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.chart-desc-box-2 {
    width: 100%;
    /* background: red; */
}

.chart-desc-box-2 p {
    font-size: 12px;
    color: #9C9C9C;
}
.chart-desc-box-2 h3 {
    font-size: 16px;
    font-weight: 700;
}
.chart-desc-box-2 h4 {
    font-size: 12px;
    font-weight: 500;
    color: #5F9F2F;
}