#polarChart div {
    position: relative;
}

#polarChart div:after {
    content:'';
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-top: solid 8px #fff;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
}